.DS_Store
*.csproj
*.sln
*.pidb
*.userprefs
*.unityproj

/Temp
/Library

!/Library/BuildSettings.asset
!/Library/InputManager.asset
!/Library/NetworkManager.asset
!/Library/ProjectSettings.asset
!/Library/QualitySettings.asset
!/Library/TagManager.asset